
@{
    ViewBag.Title = "Pretraga";
}

<nav class="blue darken-2  hide-on-med-and-down marginDown">
    <div class="nav-wrapper">
        <ul class="left">
            <li class="bold"><a href="#">Početna</a></li>
        </ul>
        <ul class="right">
            @Html.Partial("_LoginPartial")
        </ul>
    </div>
</nav>
<div class="container">
    @using (Html.BeginForm("Pretraga", "Proizvod", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "", role = "form" }))
    {
        <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 white pretragaK">
                @Html.TextBox("pretraga", "", new { @class = "pretregaP", @type = "search", @name = "pretraga", @placeholder = "Unesite pojam za pretragu", autofocus="" })
            </div>
        </div>
    }

    <div class="row">
        <ul class="col collection with-header s12 m10 offset-m1 l10 offset-l1 noPadding">
            <li class="collection-header"><h4>@ViewBag.Title</h4></li>
            @foreach (var item in ViewBag.proizvodi)
            {
                <li class="collection-item avatar">
                    <i class="material-icons circle">folder</i>
                    <span class="title"><a href="@Url.Action("Details", "Proizvod", new { id = item.ID })">@item.Naziv</a></span>
                    <p>
                        @item.Proizvodjac.Naziv <br>
                        @item.Opis
                    </p>
                </li>
            }
        </ul>
    </div>
</div>

