@model IEnumerable<Korpa387.Models.Recenzija>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Korisnik.ImePrezime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proizvod.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tekst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ocjena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Korisnik.ImePrezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proizvod.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tekst)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ocjena)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
