@model Korpa387.Models.Korisnik

@{
    ViewBag.Title = "Edit";
}

<nav class="blue darken-2  hide-on-med-and-down marginDown">
    <div class="nav-wrapper">
        <ul class="left">
            <li class="bold"><a href="#">Početna</a></li>
        </ul>
        <ul class="right">
            @Html.Partial("_LoginPartial")
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col noPadding s12 m8 offset-m2 l8 offset-l2 white" style="padding-top:25px;">

            <center>
                <h4>Unesite podatke:</h4>
            </center>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                
                  

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID)

                    <div class="input-field col s10 offset-s1 m8 offset-m2 l8 offset-l2">
                        
                            @Html.EditorFor(model => model.ImePrezime, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ImePrezime, "", new { @class = "text-danger" })
                        
                    </div>
                    <div class="input-field col s10 offset-s1 m8 offset-m2 l8 offset-l2">
                        
                           @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        
                    </div>


                    <div class="input-field col s10 offset-s1 m8 offset-m2 l8 offset-l2">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-field col s10 offset-s1 m8 offset-m2 l8 offset-l2" style="margin-bottom:20px;">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                    <br />
                    <br />
                    @Html.HiddenFor(model => model.Role, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.HiddenFor(model => model.Fotografija, new { htmlAttributes = new { @class = "form-control" } })

                   
            }
        </div>
    </div>
</div>
