<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Korpa 387</title>
   
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/Content/materialize.min.css" media="screen,projection" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="blue">
        <ul class="side-nav fixed">
            <li><img src="~/Images/logo.png" class="side-nav-logo" /></li>
            <li class="bold">@Html.ActionLink("Početna", "Index", "Home")</li>
            <li class="bold">@Html.ActionLink("Proizvodi", "Index", "Proizvod")</li>
            <li class="bold">@Html.ActionLink("Proizvođači", "Index" ,"Proizvodjac")</li>
            <li class="bold">@Html.ActionLink("Ponude", "Index", "Home")</li>
            <li class="bold">@Html.ActionLink("Kontakt", "Index", "Proizvodjac")</li>
            
        </ul>
    <main class="">
            <nav class="hide-on-large-only transparent z-depth-0 klasa1">
                <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul class="side-nav" id="mobile-demo">
                    <li><img src="~/Images/logo.png" class="side-nav-logo" /></li>
                    @Html.Partial("_LoginPartial")
                    <li class="bold">@Html.ActionLink("Početna", "Index", "Home")</li>
                    <li class="bold">@Html.ActionLink("Proizvodi", "Index", "Proizvod")</li>
                    <li class="bold">@Html.ActionLink("Proizvođači", "Index", "Proizvodjac")</li>
                    <li class="bold">@Html.ActionLink("Ponude", "Index", "Home")</li>
                    <li class="bold">@Html.ActionLink("Kontakt", "Index", "Proizvodjac")</li>
                </ul>
            </nav>

            @RenderBody()
    </main>
    <footer class="page-footer blue darken-2">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Korpa 387</h5>
                    <p class="grey-text text-lighten-4">Projekat sudenata Elektrotehničkog fakulteta Sarajevo. Projekat rađen za predmet "Objektno orijentisana analia i dizajn".</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Linkovi</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#!">ETF Sarajevo</a></li>
                        <li><a class="grey-text text-lighten-3" href="#!">Github/XTim</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy; @DateTime.Now.Year - Korpa 387
                <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
        </div>
    </footer>
    

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Scripts/materialize.js"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>
</body>
</html>
