@using Microsoft.AspNet.Identity
@using Korpa387.Models
@if (Session["LoggedUser"] != null)
{
    using (Html.BeginForm("LogOff", "Home", FormMethod.Post, new { id = "logoutForm", @class = "" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav">
        <li class="bold">
            @if ((string)Session["LoggedUserType"] == "default")
            {
                
            <a href="@Url.Action("Details", "Korisnik", new { id = (((Korisnik)Session["LoggedUser"]).ID )})"><i class="material-icons left">face</i>@Session["LoggedUserName"]</a>
            }
            else if ((string)Session["LoggedUserType"] == "productAdmin")
            {
                <a href="@Url.Action("Details", "Proizvodjac", new { id = (((Proizvodjac)Session["LoggedUser"]).ID )})"><i class="material-icons left">face</i>@Session["LoggedUserName"]</a>
            }
            else if ((string)Session["LoggedUserType"] == "admin")
            {
                <a href="@Url.Action("Index","Korisnik")"><i class="material-icons left">face</i>@Session["LoggedUserName"]</a>

            }
        </li>
        <li class="bold"><a href="javascript:document.getElementById('logoutForm').submit()">Odjava</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="bold">@Html.ActionLink("Registracija", "Register", "Home", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="bold">@Html.ActionLink("Prijava", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
